extends ./layout/main

block content

    div(class="container")            
        div(class="row erro")
            h1 Erro 404 - Desculpe ocorreu um erro em nosso servidor
            a(href=`http://localhost:3000/home`) Voltar para Home