h1 {
    color: red;
  }

.posts {
    height: 550px;
    margin-top: 50px;
    position: initial;
    
}

.conteudo {
    word-wrap: break-word
}

.perfil {
    float: left;
    position: absolute;
    width: 800px;
    top: 30px;
    margin-left: 620px;
}

.foto-perfil {
    float: left;
    position: absolute;
    top: 25px;
    margin-left: 350px;
}

.poster {
    margin-top: 125px;
    widows: 230;
    height: 350;
}

.botao {
    position: relative;
    margin-bottom: unset;
}

.erro {
    text-align: center;
}

.titulo {
    font-size: 25px;
}

.conteudo-comentario {
    float: left;
    position: absolute;
    margin-top: 35px;
    margin-left: 125;
}

.autor-comentario {
    font-weight: bolder;
    font-size: 16px;
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 125px;
}

.data-comentario {
    font-size: 16px;
    font-weight: bolder;
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 550px;
}

.coment {
    margin-top: 30px;
}

.avatar-img {
    border-radius: 50%;
}